BASE_API_URL=http://localhost:3000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?KEY1=VALUE&KEY2=VALUE&KEY3=VALUE
PORT=3000
WEATHER_API_KEY=

# Optionally provide an API key to enable confirmation emails
RESEND_API_KEY=